**/*part*.zip
**/*log.txt

.DS_Store
.htaccess

wp-content/ai1wm-backups
wp-content/ewww
wp-content/uploads
wp-content/wpvividbackups

wp-content/advanced-cache.php
wp-content/cache
wp-content/wp-rocket-config
