body {
    --blog-color: #EF8607;
    --testimonials-color: #789B18;
    --stories-color: #0B4F6D;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

h1, h2, h3 {
    font-family: 'Arvo';
}

h1, h2, h3, h4{
    font-style: normal;
    font-weight: bold;
}

h1{
    font-size: 80px;
    line-height: 100%;
}

h2{
    font-size: 35px;
    line-height: 40px;
}

h3{
    font-size: 22px;
    line-height: 32px;
}

h4{
    font-family: 'Lato' !important;
    font-size: 20px;
    line-height: 24px;
}

select{
    border-radius: 3px;
}

input{
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #BEC5CC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px;
}

#initiative-contact img, #initiative-followers img, .initiative-contact img{
    border-radius: 50%;
    float:left;
}

.action-subheader{
    height:auto; background: linear-gradient(0deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url(../../../../uploads/2022/01/Arctic-Terns-Steven-Calcote-scaled.jpg);
	background-size:cover;
    border-bottom:1px solid #f1f1f1;
    padding:10rem 9rem 4rem 9rem;
}

.learn-subheader{
    height:200px;
    background: linear-gradient(0deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url(../../../../uploads/2022/01/Arctic-Terns-Steven-Calcote-scaled.jpg);
	background-size:cover;
    border-bottom:1px solid #f1f1f1;
}

.suggest-discussion{
    background: linear-gradient(0deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url(../../../../uploads/2022/01/Arctic-Terns-Steven-Calcote-scaled.jpg);
	background-size:cover;
    padding: 24px 48px;
    border-radius: 10px;
}

.suggest-content{
    height:auto; 
    background: linear-gradient(89.48deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url('../../../../uploads/2022/03/suggestbg.jpg');
    background-position-y : bottom;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    padding: 10px 20px
}

.initiative-website{
    color:#0B4F6D !important;
    font-size:16px;
    text-decoration:underline;
    margin-right:10px;
}

.initiative-share{
    background: transparent;
    box-shadow: 2px 3px 9px rgba(11, 79, 109, 0.2);
    border-radius: 30px;
    padding:8px 22px;
    margin-right:10px;
    border:2px solid #0B4F6D;
    font-size:16px;
    font-weight: bold;
}

.template-btn{

    background: linear-gradient(80.63deg, #0B4F6D 26.04%, #0F7AA9 99.31%);
    box-shadow: 2px 3px 9px rgba(11, 79, 109, 0.2);
    border-radius: 30px;
    padding: 8px 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    white-space: nowrap;
    border: 0;

}

.action-btn{

    background: linear-gradient(80.63deg, #0B4F6D 26.04%, #0F7AA9 99.31%);
    box-shadow: 2px 3px 9px rgba(11, 79, 109, 0.2);
    border-radius: 30px;
    padding: 16px 46px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    white-space: nowrap;
    border: 0;

}

.ggrc-btn-white-lg{
    display: inline-flex;
    background: #FFFFFF;
    border: 5px solid #0B4F6D;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 26.5px 67px;
    font-size: 22px;
    color: #0B4F6D;
}

.ggrc-btn-white-md{
    background: #fff;
    border: 3px solid #0B4F6D;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 16px 46px;
    font-size: 20px;
    color: #0B4F6D;
}

.ggrc-btn-white-sm{
    background: #FFFFFF;
    border: 2px solid #0B4F6D;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 8px 22px;
    font-size: 16px;
    color: #0B4F6D;
}

.ggrc-btn-blue-lg{
    background: linear-gradient(83.21deg, #0B4F6D 18.7%, #1087AD 94.49%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 4px 4px 24px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 26.5px 67px;
    font-size: 22px;
}

.ggrc-btn-blue-sm{
    background: linear-gradient(83.21deg, #0B4F6D 18.7%, #1087AD 94.49%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 4px 4px 24px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 8px 22px;
    font-size: 16px;
    color: #fff !important;
    border: none;
}

.ggrc-btn-blue-md{
    background: linear-gradient(80.63deg, #0B4F6D 26.04%, #0F7AA9 99.31%);
    box-shadow: 2px 3px 9px rgba(11, 79, 109, 0.2);
    border-radius: 40px;
    padding: 16px 46px;
    font-size: 20px;
    color: #fff;
    border: none;
}

.tags{
    background: #EFF3F5;
    border: 1px solid #D8E3E8;
    box-sizing: border-box;
    border-radius: 8px;
    color:#0B4F6D;
    padding:8px;
    display:inline;
    font-weight:bold;
    margin-right: 5px;
}

hr{
    border-color: #BEC5CC;
    height:0;
    margin-bottom:7px;
}

.ggrc-initiative-priorities{
    line-height:20px;
    margin-bottom:0
}

.no-border-all{
    border: none;
}

.no-border{
    border-right-width: 0;
    padding-right:0
}

.initiative-take-action-bar{
    height:auto;
    background: #FFD670;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 4px 4px 24px 3px rgba(0, 0, 0, 0.1);
    padding:40px;
    border-radius:2px;
    margin-top:-14rem;
}

.initiative-content p{
    line-height:150%;
    margin-bottom:0px;
}

.initiative-goal{
    line-height:20px;
    margin-bottom:0px;
    font-weight: bold;
}

.learn-rightside{
    border-left:1px solid #BEC5CC;
    padding-right:10px;
    margin-top:10rem;
}

.add-resources{
    background: #ECEEF0;
    border: 1px solid #D8DCE0;
    box-sizing: border-box;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin-left:15px;
    padding: 20px;
}

.no-padding-left{
    padding-left: 0;
}

.no-padding-right{
    padding-right: 0;
}


.no-margin{
    margin: 0;
}

.margin-right{
    margin-right:5px
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-60{
    margin-bottom: 60px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-60{
    margin-top: 60px;
}

.mt-80{
    margin-top: 80px;
}

.mt-100{
    margin-top: 100px;
}

.mt-150{
    margin-top: 150px;
}

.pt-80{
    padding-top: 80px;
}

.pt-100{
    padding-top: 100px !important;
}

.pt-150{
    padding-top: 150px !important;
}

.pb-30{
    padding-bottom: 30px !important;
}

.pb-60{
    padding-bottom: 60px !important;
}

.pb-80{
    padding-bottom: 80px !important;
}

.pb-100{
    padding-bottom: 100px !important;
}

.pb-120{
    padding-bottom: 120px !important;
}

.p-20{
    padding: 20px !important;
}

.p-150-lr{
    padding-left: 15rem;
    padding-right: 15rem
}

.p-170-lr{
    padding-left: 17rem;
    padding-right: 17rem
}

.profile{
    color:#0B4F6D !important;
    margin-right:18px
}



.center-element{
    display: block !important;
    position:relative;
    margin:auto !important;
}

/* Blog Styles Start */
.blog-subheader{
    height:300px;
    background: linear-gradient(0deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url(../../../../uploads/2022/01/Arctic-Terns-Steven-Calcote-scaled.jpg);
    background-size:cover;
    border-bottom:2px solid;
}

.single-blog_post #primary{
    border: none;
}

#content-wrap .saboxplugin-wrap {
    border: none;
}

#content-wrap .saboxplugin-wrap img {
    border-radius: 50px;
    filter: drop-shadow(0px 4px 18px rgba(253, 186, 26, 0.1));
}

.blog-details{
    top: calc(-144px - 50px);
    background-color:#fff;
    z-index:10;
    position:relative;
    text-align: center;
}

.blog-details hr {
    margin: 5px 0;
}

.blog-details-border {
    width: 100%;
    height: 144px;
    border: 2px solid;
    border-bottom: 0;
    border-radius: 4px 4px 0px 0px;
    padding-top: 14px;
    margin-bottom: 60px;
}

.blog .blog-details-border, .blog .blog-subheader {
    border-color: var(--blog-color);
}

.testimonials .blog-details-border, .testimonials .blog-subheader {
    border-color: var(--testimonials-color);
}

.stories .blog-details-border, .stories .blog-subheader {
    border-color: var(--stories-color);
}

.single-blog_post #content{
    position: relative;
    top: -144px;
}

.blog .blog-category-title{
    text-align:center;
    color: var(--blog-color);
    font-weight:bold
}

.testimonials .blog-category-title{
    text-align:center;
    color: var(--testimonials-color);
    font-weight:bold
}

.stories .blog-category-title{
    text-align:center;
    color: var(--stories-color);
    font-weight:bold
}

.like-share{
    display:inline;
    margin-right:20px
}

.blog-cover, .discussion-cover, .initiative-cover{    
    object-fit:cover;
    width: 100%;
}

.blog-cover{
    height:208px !important;
}

.blog-category, .blog-title-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    position: absolute;
}

.blog-category{
    padding: 10px 14px;
    right: 25px;
    top: 12px;
    background: #EF8607;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: lighter;
}

.blog-title-profile{
    padding: 8px 8px;
    width: 80%;
    height: auto;
    left: calc(50% - 80%/2);
    top: 42%;
    background: #FFFFFF;
    border: 1px solid #EF8607;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
}
/* Blog Styles End */

.suggest-titlearea{
    padding-top: 8rem;
    margin-bottom:4rem;
    width:65%;
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.initiative-form, .discussion-form{
    width:65%;
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-right: 15px;
    padding-left: 15px
}

.initiative-list-area{
    padding-left: 30px;
    border-left-width: 1px;
    float:left;
    padding-right: 0px;
    border-right-width: 0;
}

.initiative-contact-details, .initiative-followers{
    float:left;
    margin-left:8px;
    line-height:18px
}

.initiative-contact-profile{
    float:left;
    margin-top:20px;
    margin-bottom:30px
}

.initiative-list{
    background-color:#fff;
    margin-bottom:15px;
    border-radius:5px;
    border:1px solid #ddd;
}

.initiative-list-detail{
    padding:8px;
    line-height:150%
}

.initiative-cover{
    height:90px !important;
}

.action-type{
    margin-bottom:0px;
    display:inline;
    font-size:12px;
    color:#fff;
    background-color:#EF8607;
    border-radius:44px;
    margin-top:-9rem;
    position:absolute;
    padding: 1px 4px;
    text-transform: uppercase;
}

.initiative-supporters{
    color:#DC9C05;
    margin-bottom:0px;
    font-weight: bold;
}

.ess-list{
    list-style: none;
    width: fit-content;
    display: inline-block;
}

.links{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size:16px;
    line-height: 19px;
}

.following-section{
    margin-top:42px;
    border-left:1px solid #BEC5CC;
}

.align-center{
    text-align: center;
}

.bbp-topic-started-by{
    font-weight: bold;
}

/* GGRC Icons */

.ggrc-icon{
    font-size:18px;
    vertical-align: middle;
}

.exclamation-mark::after {
    content: url('../../../../uploads/icons/exclamationmark.svg');
    vertical-align: middle;
}

.map::after {
    content: url('../../../../uploads/icons/map.svg');    
}

.users::after {
    content: url('../../../../uploads/icons/users.svg');
}

.map-pin::after {
    content: url('../../../../uploads/icons/map-pin.svg');
}

.clock::after {
    content: url('../../../../uploads/icons/clock.svg');
}

.ggrc-home::after {
    content: url('../../../../uploads/icons/home.svg');
}

.attachment::after {
    content: url('../../../../uploads/icons/attachment.svg');
}

.heart::after {
    content: url('../../../../uploads/icons/heart.svg');
}

.share-1::after {
    content: url('../../../../uploads/icons/share-1.svg');
}
.share-2::after {
    content: url('../../../../uploads/icons/share-2.svg');
}

.ggrc-send::after {
    content: url('../../../../uploads/icons/send.svg');
}

.ggrc-external-link::after {
    margin-right: 5px;
    content: url('../../../../uploads/icons/external-link.svg');
}

.ggrc-ellipse::after {
    content: url('../../../../uploads/icons/ellipse.svg');
    float: left;
}

.ggrc-save::after {
    content: url('../../../../uploads/icons/save.svg');
    margin-left: 5px
}

.ggrc-twitter::after {
    content: url('../../../../uploads/icons/twitter.svg');
    margin-right: 8px;
}

.ggrc-facebook::after {
    content: url('../../../../uploads/icons/facebook.svg');
    margin-right: 8px;
}

.ggrc-instagram::after {
    content: url('../../../../uploads/icons/instagram.svg');
    margin-right: 8px;
}
.ggrc-linkedin::after {
    content: url('../../../../uploads/icons/linkedin.svg');
    margin-right: 8px;
}

.ggrc-message::after {
    content: url('../../../../uploads/icons/messages.svg');
    margin-right: 8px;
}
/* Modal Popup */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 10000;
}

.modal-content {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(89.48deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url('../../../../uploads/2022/03/login-bg.jpg');
    padding: 2rem 5rem;
    width:60%;
    border-radius: 0.5rem;
	z-index: 10001;
    background-size: cover;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#user_lname, #user_fname, #user_login, #user_email, #title, #country, #organisation, #bio, #user_pass{
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #ACB4BD;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #000;
}

/* Discussion Board */

.discussion{
    background-color:#F9F9FA;
    border: 1px solid #FDBA1A;
    box-sizing: border-box;
    border-radius: 10px;
}

.discussion-cover{
    height:72px;
    border-radius: 10px 10px 0px 0px;
}

/* News & Events */

.news-box{
    background-color:#fff;
    margin-bottom:15px;
    border-radius:5px;
}


.news_header {
    padding: 0px 9.5rem;
    height: auto;
    background: linear-gradient(0deg, rgba(255 255 255 / 0%), rgba(255 255 255 / 0%)), url(../../../../uploads/2022/01/news_banner.png);
    background-size: cover;
}

.agency-list{
    background: #EFF3F5;
    border: 1px solid #AFC5CF;
    box-sizing: border-box;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    margin: 9px 0px;
}

.suggest-event, .ggrc-newsletter{
    padding:12px;
    height: auto;
    background: linear-gradient(0deg, rgba(255 255 255 / 70%), rgba(255 255 255 / 70%)), url(../../../../uploads/2022/01/suggesteventbanner.jpg);
    background-size: cover;
    filter: drop-shadow(2px 3px 12px rgba(0, 0, 0, 0.13));
    border-radius: 10px;
    background-position: center;
    
}

.events-header {
    padding: 0px 9.5rem;
    height: auto;
    background: linear-gradient(0deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url(../../../../uploads/2022/01/eventscalendar.jpg);
    background-size: cover;
}


/* HomePage */

.home-banner , .about-banner{
    padding: 0px 10rem;
    height: auto;     
}

.home-banner{
    background: linear-gradient(0deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url(../../../../uploads/2022/04/MontesdeMaria3_YeniferHerrera-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.webp-support .home-banner {
    background: linear-gradient(0deg, rgba(255 255 255 / 80%), rgba(255 255 255 / 80%)), url(../../../../uploads/2022/04/MontesdeMaria3_YeniferHerrera-1.jpeg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-h1{
    letter-spacing: -0.015em;
    background: linear-gradient(114.38deg, #FDBA1A -1.18%, #EF8607 82.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 3px 3px 14px rgba(0, 0, 0, 0.13);
}

.home-learn{
    margin-top: -40px;
    padding: 15px
}

.home-learn-title{
    display: inline;
    margin-left: 10px
}

.inline-display{
    display: inline;
}

.how-it-works{
    border: 2px solid #FFD670;
    box-sizing: border-box;
    border-radius: 10px;
	overflow: hidden;
}

.how-it-works img{    
	width: 100%;
}

.why-join-banner{
    background: linear-gradient(90deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 100%), url(../../../../uploads/2022/04/why-join-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    margin: 40px 0px;
    background-position: center;
}

.webp-support .why-join-banner {
    background: linear-gradient(90deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 100%), url(../../../../uploads/2022/04/why-join-2.jpeg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-danger{
    color: red;
}

.text-primary{
    color: blue;
}

.suggest-initiative-home{
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../../uploads/2022/04/suggestinitiative-home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    margin: 40px 0px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.webp-support .suggest-initiative-home {
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../../uploads/2022/04/suggestinitiative-home.jpeg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-banner{
    background: linear-gradient(0deg, rgba(255 255 255 / 0%), rgba(255 255 255 / 0%)), url(../../../../uploads/2022/01/aboutbanner.png);
    background-size: cover;
}

.ggrc-faq{
    padding:25px;
    height: auto;
    background: linear-gradient(0deg, rgba(255 255 255 / 70%), rgba(255 255 255 / 70%)), url(../../../../uploads/2022/01/faqs.jpg);
    background-size: cover;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin: 15px;    
}

.ggrc-faq button{
    background-color: inherit;
}

.ggrc-newsletter{
    padding: 25px !important;
    margin: 15px;
}

.volunteer-about{
    
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 0%), url(../../../../uploads/2022/01/volunteer-about.png);
    background-size: cover;
    width: 100%; 
    margin: 40px 0px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.team-blocks{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0px 47px 30px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #FDBA1A;
    box-sizing: border-box;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
}

.profile-pic{
    position: absolute;
    left: calc(50% - 40%/2);
    top: -90px;
    width: 145px;
    height: 145px;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.13));
    border-radius: 50%;
}

#footer-widgets{
    background: linear-gradient(0deg, rgba(255 255 255 / 0%), rgba(255 255 255 / 0%)), url(../../../../uploads/2022/04/footer-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.webp-support #footer-widgets {
    background: linear-gradient(0deg, rgba(255 255 255 / 0%), rgba(255 255 255 / 0%)), url(../../../../uploads/2022/04/footer-2.jpeg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


/*Blog Author*/

.author-picture{
    width: 40%;
    border-radius: 50%;
}


/* Responsive CSS */

@media screen and (max-width: 767px) {
  .profile-pic{
    position: absolute;
    left: calc(50% - 30%/2);
    top: -45%;
    width: 30%;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.13));
}

    .p-170-lr{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


